// src/entities/product/ui/product-row/product-row.module.scss

.root {
  padding: var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  width: 100%;
}

.image_wrapper {
  flex-shrink: 0; // Запрещаем картинке сжиматься
  width: 150px; // Пример фиксированной ширины
}

.content_wrapper {
  flex-grow: 1; // Заставляем этот блок занять все доступное место
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.description {
  font-size: var(--font-size-p);
  color: var(--color-text-secondary);
}

.purchase_wrapper {
  flex-shrink: 0;
  width: 250px; // Пример фиксированной ширины для блока покупки
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
