.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px;
  border: 1px dashed var(--gray-a6);
  border-radius: 12px;
  margin-top: 24px;
}

.icon {
  color: var(--gray-a9);
  margin-bottom: 16px;
}

.description {
  color: var(--gray-a11);
  max-width: 300px;
  margin-top: 8px;
  margin-bottom: 24px;
}
